
#multiversofooter {
	margin: auto;
	}

.multiversodescr {
	text-align: center;
	}

.mag {
	margin-top: 40px;
	}

#fbvideo {
	width: 90%;
	height: 215px;
	}

#countdown {
	font-size: 45px;
	}

.uk-countdown-number {
	font-size: 100px;
	}

.uk-countdown-label {
	font-size: 20px;
	}

#datemain {
	font-size: 30px;
	}

#carouselineup h4 {
	font-size: 60px;
	}

#carouselineup h5 {
	font-size: 40px;
	}

#collabs h2 {
	font-size: 30px;
	}

#program h4 {
	font-size: 30px;
	}

#logomain {
	width: 270px;
	}

#typewriter h2 {
	font-size: 65px;
	}
