
#carouselineup {
	margin-top: -7vh;
	}

h1 {
	font-size: 60px;
	}

#countdown {
	font-size: 35px;
	}

#subnavprogram a {
	font-size: 15px;
	}

.uk-countdown-number {
	font-size: 80px;
	}

#typewriter h2 {
	font-size: 55px;
	}
